 /* googlefonts import */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Assistant&family=Bacasime+Antique&family=Cormorant+Garamond:wght@300&family=Cormorant:ital,wght@1,600&family=Crimson+Text&family=Dancing+Script:wght@400;500&family=Dosis:wght@300&family=Fasthand&family=Lora:ital@1&family=Playfair+Display&family=Prata&family=Satisfy&display=swap');

body {
  margin: 0;
 font-family: 'Lora', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
